// dark theme
$dark-background: #000000;
$dark-element-background: #1a1a1a;
$dark-element-hover: #262626;
$dark-font-color: #ffffff;

// light theme
$light-background: #ffffff;
$light-element-background: #e5e5e5;
$light-element-hover: #d9d9d9;
$light-font-color: #000000;

// other colors